<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="jsfloginPU" transaction-type="RESOURCE_LOCAL">

<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
    <class>com.entity.IraIncidentQuestionRelation</class>
    <class>com.entity.IraIncidentReportDetails</class>
    <class>com.entity.IraIncidentReportWorkFlow</class>
    <class>com.entity.IraPersonsInvolved</class>
    <class>com.entity.IraPkiCertificates</class>
    <class>com.entity.IraPkiEmpInfoAll</class>
    <class>com.entity.IraQuestionMaster</class>
    <class>com.entity.IraReportAuthoritySigns</class>
    <class>com.entity.IraRoleMaster</class>
    <class>com.entity.IraUserAuth</class>
    <class>com.entity.IraUserRoles</class>
    <class>com.entity.IncidentReportQuestionnaire</class>
    <class>com.entity.IraBuildingList</class>
    <class>com.entity.IraDocumentsAttached</class>
    <class>com.entity.IraIncidentMaster</class>
    <properties>

            <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver"/>
            <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@tasdb.barc.gov.in:1521:secdb"/>
            <property name="javax.persistence.jdbc.user" value="trainee"/>
            <property name="javax.persistence.jdbc.password" value="trainee"/>

            <!--Hibernate properties-->
            <property name="hibernate.show_sql" value="false"/>
            <property name="hibernate.format_sql" value="false"/>
             <property name="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect"/>
    </properties>
  </persistence-unit>
</persistence>


